@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("http://fonts.cdnfonts.com/css/gotham");
body {
  margin: 0;
  font-family: "Gotham", sans-serif;
  /* font-family: "Gotham Black", sans-serif;
  font-family: "Gotham Light", sans-serif;
  font-family: "Gotham Thin", sans-serif;
  font-family: "Gotham XLight", sans-serif;
  font-family: "Gotham Book", sans-serif;
  font-family: "Gotham Ultra", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
